.head {
  color: var(--color-primary);
}

.chart-container {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  /* Adjust the chart size for smaller screens */
  .chart-container {
    max-width: 600px;
  }
}

@media (max-width: 576px) {
  /* adjust the chart size for extra-small screens */
  .chart-container {
    max-width: 400px;
  }
}
