.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.custom-tooltip .label {
  font-weight: bold;
}

.custom-tooltip .value {
  margin-top: 5px;
}
